@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap);


@tailwind base;
@tailwind components;
@tailwind utilities;



.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}
@keyframes scroll {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}
@keyframes scroll-reverse {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0%); }
}
.animate-scroll {
  animation-name: scroll;
}
.animate-scroll-reverse {
  animation-name: scroll-reverse;
}
.image_wrapper {
  align-items: center;
  border-radius: 5px;
  display: flex;
  height: 180px;
  justify-content: center;
  margin: 0 10px;
  width: 100px;
}

@keyframes scroll-marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
.marquee-track {
  animation: scroll-marquee 40s linear infinite;
  display: flex;
  align-items: center;
  width: max-content;
}


*,
:after,
:before {
    border: 0 solid #e5e7eb;
    box-sizing: border-box
}

:after,
:before {
    --tw-content: ""
}

:host,
html {
    -webkit-text-size-adjust: 100%;
    font-feature-settings: normal;
    -webkit-tap-highlight-color: transparent;
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-variation-settings: normal;
    line-height: 1.5;
    tab-size: 4
}

body {
    line-height: inherit;
    margin: 0
}

hr {
    border-top-width: 1px;
    color: inherit;
    height: 0
}

abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
pre,
samp {
    font-feature-settings: normal;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-size: 1em;
    font-variation-settings: normal
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: initial
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

table {
    border-collapse: collapse;
    border-color: inherit;
    text-indent: 0
}

button,
input,
optgroup,
select,
textarea {
    font-feature-settings: inherit;
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    font-variation-settings: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0
}

button,
select {
    text-transform: none
}

button,
input:where([type=button]),
input:where([type=reset]),
input:where([type=submit]) {
    -webkit-appearance: button;
    background-color: initial;
    background-image: none
}

:-moz-focusring {
    outline: auto
}

:-moz-ui-invalid {
    box-shadow: none
}

progress {
    vertical-align: initial
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
    margin: 0
}

fieldset {
    margin: 0
}

fieldset,
legend {
    padding: 0
}

menu,
ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0
}

dialog {
    padding: 0
}

textarea {
    resize: vertical
}

input::placeholder,
textarea::placeholder {
    color: #9ca3af;
    opacity: 1
}

[role=button],
button {
    cursor: pointer
}

:disabled {
    cursor: default
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
    display: block;
    vertical-align: middle
}

img,
video {
    height: auto;
    max-width: 100%
}

[hidden] {
    display: none
}

*,
:after,
:before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #3b82f680;
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style:
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #3b82f680;
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style:
}

.container {
    width: 100%
}

@media (min-width:640px) {
    .container {
        max-width: 640px
    }
}

@media (min-width:768px) {
    .container {
        max-width: 768px
    }
}

@media (min-width:1024px) {
    .container {
        max-width: 1024px
    }
}

@media (min-width:1280px) {
    .container {
        max-width: 1280px
    }
}

@media (min-width:1536px) {
    .container {
        max-width: 1536px
    }
}

.pointer-events-none {
    pointer-events: none
}

.visible {
    visibility: visible
}

.invisible {
    visibility: hidden
}

.static {
    position: static
}

.fixed {
    position: fixed
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.sticky {
    position: -webkit-sticky;
    position: sticky
}

.inset-0 {
    inset: 0
}

.-bottom-5 {
    bottom: -1.25rem
}

.-top-\[20px\] {
    top: -20px
}

.bottom-0 {
    bottom: 0
}

.bottom-4 {
    bottom: 1rem
}

.bottom-\[15\%\] {
    bottom: 15%
}

.left-0 {
    left: 0
}

.left-1\/2 {
    left: 50%
}

.left-3 {
    left: .75rem
}

.left-4 {
    left: 1rem
}

.left-\[4\%\] {
    left: 4%
}

.right-0 {
    right: 0
}

.right-2 {
    right: .5rem
}

.right-4 {
    right: 1rem
}

.top-0 {
    top: 0
}

.top-1\/2 {
    top: 50%
}

.top-2 {
    top: .5rem
}

.top-24 {
    top: 6rem
}

.top-3 {
    top: .75rem
}

.top-\[20\%\] {
    top: 20%
}

.top-full {
    top: 100%
}

.z-0 {
    z-index: 0
}

.z-10 {
    z-index: 10
}

.z-20 {
    z-index: 20
}

.z-\[100000\] {
    z-index: 100000
}

.z-\[100\] {
    z-index: 100
}

.z-\[10\] {
    z-index: 10
}

.z-\[150\] {
    z-index: 150
}

.z-\[200\] {
    z-index: 200
}

.z-\[40\] {
    z-index: 40
}

.z-\[50\] {
    z-index: 50
}

.col-span-1 {
    grid-column: span 1/span 1
}

.col-span-2 {
    grid-column: span 2/span 2
}

.col-span-3 {
    grid-column: span 3/span 3
}

.mx-4 {
    margin-left: 1rem;
    margin-right: 1rem
}

.mx-5 {
    margin-left: 1.25rem;
    margin-right: 1.25rem
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.my-2 {
    margin-bottom: .5rem;
    margin-top: .5rem
}

.my-\[3\%\] {
    margin-bottom: 3%;
    margin-top: 3%
}

.my-\[4\%\] {
    margin-bottom: 4%;
    margin-top: 4%
}

.my-\[5\%\] {
    margin-bottom: 5%;
    margin-top: 5%
}

.-mt-\[10\%\] {
    margin-top: -10%
}

.mb-10 {
    margin-bottom: 2.5rem
}

.mb-12 {
    margin-bottom: 3rem
}

.mb-16 {
    margin-bottom: 4rem
}

.mb-2 {
    margin-bottom: .5rem
}

.mb-3 {
    margin-bottom: .75rem
}

.mb-4 {
    margin-bottom: 1rem
}

.mb-6 {
    margin-bottom: 1.5rem
}

.mb-8 {
    margin-bottom: 2rem
}

.mb-\[1\.5\%\] {
    margin-bottom: 1.5%
}

.mb-\[50px\] {
    margin-bottom: 50px
}

.ml-2 {
    margin-left: .5rem
}

.ml-auto {
    margin-left: auto
}

.mr-5 {
    margin-right: 1.25rem
}

.mt-1 {
    margin-top: .25rem
}

.mt-16 {
    margin-top: 4rem
}

.mt-2 {
    margin-top: .5rem
}

.mt-3 {
    margin-top: .75rem
}

.mt-4 {
    margin-top: 1rem
}

.mt-5 {
    margin-top: 1.25rem
}

.mt-8 {
    margin-top: 2rem
}

.mt-\[-50px\] {
    margin-top: -50px
}

.mt-\[10\%\] {
    margin-top: 10%
}

.mt-\[2\%\] {
    margin-top: 2%
}

.mt-\[3\%\] {
    margin-top: 3%
}

.mt-\[4\%\] {
    margin-top: 4%
}

.mt-\[5\%\] {
    margin-top: 5%
}

.line-clamp-2 {
    -webkit-line-clamp: 2
}

.line-clamp-2,
.line-clamp-3 {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden
}

.line-clamp-3 {
    -webkit-line-clamp: 3
}

.block {
    display: block
}

.flex {
    display: flex
}

.inline-flex {
    display: inline-flex
}

.grid {
    display: grid
}

.hidden {
    display: none
}

.aspect-\[16\/10\] {
    aspect-ratio: 16/10
}

.aspect-square {
    aspect-ratio: 1/1
}

.aspect-video {
    aspect-ratio: 16/9
}

.size-10 {
    height: 2.5rem;
    width: 2.5rem
}

.size-14 {
    height: 3.5rem;
    width: 3.5rem
}

.size-5 {
    height: 1.25rem;
    width: 1.25rem
}

.size-full {
    height: 100%;
    width: 100%
}

.h-0\.5 {
    height: .125rem
}

.h-10 {
    height: 2.5rem
}

.h-12 {
    height: 3rem
}

.h-3 {
    height: .75rem
}

.h-32 {
    height: 8rem
}

.h-4 {
    height: 1rem
}

.h-48 {
    height: 12rem
}

.h-5 {
    height: 1.25rem
}

.h-6 {
    height: 1.5rem
}

.h-\[35px\] {
    height: 35px
}

.h-\[400px\] {
    height: 400px
}

.h-\[40px\] {
    height: 40px
}

.h-\[50\%\] {
    height: 50%
}

.h-\[500px\] {
    height: 500px
}

.h-\[72px\] {
    height: 72px
}

.h-auto {
    height: auto
}

.h-fit {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content
}

.h-full {
    height: 100%
}

.h-screen {
    height: 100vh
}

.max-h-0 {
    max-height: 0
}

.max-h-96 {
    max-height: 24rem
}

.max-h-\[600px\] {
    max-height: 600px
}

.min-h-screen {
    min-height: 100vh
}

.w-0 {
    width: 0
}

.w-3 {
    width: .75rem
}

.w-4 {
    width: 1rem
}

.w-5 {
    width: 1.25rem
}

.w-6 {
    width: 1.5rem
}

.w-64 {
    width: 16rem
}

.w-80 {
    width: 20rem
}

.w-\[100\%\] {
    width: 100%
}

.w-\[100px\] {
    width: 100px
}

.w-\[150px\] {
    width: 150px
}

.w-\[200px\] {
    width: 200px
}

.w-\[250px\] {
    width: 250px
}

.w-\[30px\] {
    width: 30px
}

.w-\[35px\] {
    width: 35px
}

.w-\[401px\] {
    width: 401px
}

.w-\[40px\] {
    width: 40px
}

.w-\[96vw\] {
    width: 96vw
}

.w-fit {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

.w-full {
    width: 100%
}

.min-w-\[250px\] {
    min-width: 250px
}

.min-w-max {
    min-width: -webkit-max-content;
    min-width: max-content
}

.max-w-2xl {
    max-width: 42rem
}

.max-w-4xl {
    max-width: 56rem
}

.max-w-7xl {
    max-width: 80rem
}

.max-w-\[1100px\] {
    max-width: 1100px
}

.max-w-\[1200px\] {
    max-width: 1200px
}

.max-w-\[1280px\] {
    max-width: 1280px
}

.max-w-\[1440px\] {
    max-width: 1440px
}

.max-w-\[95\%\] {
    max-width: 95%
}

.max-w-none {
    max-width: none
}

.flex-1 {
    flex: 1 1
}

.flex-shrink-0 {
    flex-shrink: 0
}

.grow {
    flex-grow: 1
}

.origin-top {
    transform-origin: top
}

.-translate-x-1\/2 {
    --tw-translate-x: -50%
}

.-translate-x-1\/2,
.-translate-y-1\/2 {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.-translate-y-1\/2 {
    --tw-translate-y: -50%
}

.translate-y-0 {
    --tw-translate-y: 0px
}

.translate-y-0,
.translate-y-full {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-y-full {
    --tw-translate-y: 100%
}

.rotate-180 {
    --tw-rotate: 180deg
}

.rotate-180,
.scale-125 {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.scale-125 {
    --tw-scale-x: 1.25;
    --tw-scale-y: 1.25
}

.transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cursor-not-allowed {
    cursor: not-allowed
}

.cursor-pointer {
    cursor: pointer
}

.select-none {
    -webkit-user-select: none;
    user-select: none
}

.resize {
    resize: both
}

.scroll-mt-24 {
    scroll-margin-top: 6rem
}

.list-disc {
    list-style-type: disc
}

.list-none {
    list-style-type: none
}

.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr))
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
}

.flex-col {
    flex-direction: column
}

.flex-wrap {
    flex-wrap: wrap
}

.items-start {
    align-items: flex-start
}

.items-center {
    align-items: center
}

.justify-end {
    justify-content: flex-end
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.gap-1 {
    gap: .25rem
}

.gap-2 {
    gap: .5rem
}

.gap-20 {
    gap: 5rem
}

.gap-3 {
    gap: .75rem
}

.gap-4 {
    gap: 1rem
}

.gap-5 {
    gap: 1.25rem
}

.gap-6 {
    gap: 1.5rem
}

.gap-8 {
    gap: 2rem
}

.space-x-2>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-left: calc(.5rem*(1 - var(--tw-space-x-reverse)));
    margin-right: calc(.5rem*var(--tw-space-x-reverse))
}

.space-y-1>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-bottom: calc(.25rem*var(--tw-space-y-reverse));
    margin-top: calc(.25rem*(1 - var(--tw-space-y-reverse)))
}

.space-y-16>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-bottom: calc(4rem*var(--tw-space-y-reverse));
    margin-top: calc(4rem*(1 - var(--tw-space-y-reverse)))
}

.space-y-2>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-bottom: calc(.5rem*var(--tw-space-y-reverse));
    margin-top: calc(.5rem*(1 - var(--tw-space-y-reverse)))
}

.space-y-20>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-bottom: calc(5rem*var(--tw-space-y-reverse));
    margin-top: calc(5rem*(1 - var(--tw-space-y-reverse)))
}

.space-y-4>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-bottom: calc(1rem*var(--tw-space-y-reverse));
    margin-top: calc(1rem*(1 - var(--tw-space-y-reverse)))
}

.space-y-6>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-bottom: calc(1.5rem*var(--tw-space-y-reverse));
    margin-top: calc(1.5rem*(1 - var(--tw-space-y-reverse)))
}

.space-y-8>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-bottom: calc(2rem*var(--tw-space-y-reverse));
    margin-top: calc(2rem*(1 - var(--tw-space-y-reverse)))
}

.overflow-hidden {
    overflow: hidden
}

.overflow-x-auto {
    overflow-x: auto
}

.overflow-y-auto {
    overflow-y: auto
}

.rounded {
    border-radius: .25rem
}

.rounded-2xl {
    border-radius: 1rem
}

.rounded-\[16px\] {
    border-radius: 16px
}

.rounded-\[20px\] {
    border-radius: 20px
}

.rounded-\[25px\] {
    border-radius: 25px
}

.rounded-\[27px\] {
    border-radius: 27px
}

.rounded-\[30px\] {
    border-radius: 30px
}

.rounded-\[40px\] {
    border-radius: 40px
}

.rounded-\[6px\] {
    border-radius: 6px
}

.rounded-\[8px\] {
    border-radius: 8px
}

.rounded-full {
    border-radius: 9999px
}

.rounded-lg {
    border-radius: .5rem
}

.rounded-md {
    border-radius: .375rem
}

.rounded-xl {
    border-radius: .75rem
}

.rounded-b-\[27px\] {
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 27px
}

.border {
    border-width: 1px
}

.border-l {
    border-left-width: 1px
}

.border-l-2 {
    border-left-width: 2px
}

.border-r {
    border-right-width: 1px
}

.border-t {
    border-top-width: 1px
}

.border-\[\#18181A\] {
    --tw-border-opacity: 1;
    border-color: rgb(24 24 26/var(--tw-border-opacity))
}

.border-\[\#353637\] {
    --tw-border-opacity: 1;
    border-color: rgb(53 54 55/var(--tw-border-opacity))
}

.border-\[\#32D374\],
.border-\[\#32D374\] {
    --tw-border-opacity: 1;
    border-color: rgb(253 29 29/var(--tw-border-opacity))
}

.border-\[\#ffffff2e\] {
    border-color: #ffffff2e
}

.border-orange-500 {
    --tw-border-opacity: 1;
    border-color: rgb(249 115 22/var(--tw-border-opacity))
}

.border-orange-500\/30 {
    border-color: #f973164d
}

.border-red-500 {
    --tw-border-opacity: 1;
    border-color: rgb(239 68 68/var(--tw-border-opacity))
}

.border-transparent {
    border-color: #0000
}

.border-white {
    --tw-border-opacity: 1;
    border-color: rgb(255 255 255/var(--tw-border-opacity))
}

.border-white\/10 {
    border-color: #ffffff1a
}

.border-white\/20 {
    border-color: #fff3
}

.bg-\[\#1E1D1E\] {
    --tw-bg-opacity: 1;
    background-color: rgb(30 29 30/var(--tw-bg-opacity))
}

.bg-\[\#331400\] {
    --tw-bg-opacity: 1;
    background-color: rgb(51 20 0/var(--tw-bg-opacity))
}

.bg-\[\#3a3a3a\] {
    --tw-bg-opacity: 1;
    background-color: rgb(58 58 58/var(--tw-bg-opacity))
}

.bg-\[\#AD2A01\] {
    --tw-bg-opacity: 1;
    background-color: rgb(173 42 1/var(--tw-bg-opacity))
}

.bg-\[\#fd1d1d\] {
    --tw-bg-opacity: 1;
    background-color: rgb(253 29 29/var(--tw-bg-opacity))
}

.bg-black {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0/var(--tw-bg-opacity))
}

.bg-black\/30 {
    background-color: #0000004d
}

.bg-black\/50 {
    background-color: #00000080
}

.bg-black\/90 {
    background-color: #000000e6
}

.bg-gray-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(75 85 99/var(--tw-bg-opacity))
}

.bg-gray-600\/30 {
    background-color: #4b55634d
}

.bg-orange-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(94 231 160/var(--tw-bg-opacity))
}

.bg-orange-500\/10 {
    background-color: #5ee7a01a
}

.bg-orange-500\/20 {
    background-color: #5ee7a033
}

.bg-transparent {
    background-color: initial
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity))
}

.bg-white\/5 {
    background-color: #ffffff0d
}

.bg-gradient-to-br {
    background-image: linear-gradient(to bottom right, var(--tw-gradient-stops))
}

.bg-gradient-to-r {
    background-image: linear-gradient(to right, var(--tw-gradient-stops))
}

.bg-gradient-to-t {
    background-image: linear-gradient(to top, var(--tw-gradient-stops))
}

.from-black {
    --tw-gradient-from: #000 var(--tw-gradient-from-position);
    --tw-gradient-to: #0000 var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.from-black\/40 {
    --tw-gradient-from: #0006 var(--tw-gradient-from-position);
    --tw-gradient-to: #0000 var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.from-blue-500\/20 {
    --tw-gradient-from: #3b82f633 var(--tw-gradient-from-position);
    --tw-gradient-to: #3b82f600 var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.from-green-500\/20 {
    --tw-gradient-from: #22c55e33 var(--tw-gradient-from-position);
    --tw-gradient-to: #22c55e00 var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.from-orange-500\/20 {
    --tw-gradient-from: #5ee7a033 var(--tw-gradient-from-position);
    --tw-gradient-to: #5ee7a000 var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.from-red-500\/20 {
    --tw-gradient-from: #32d37433 var(--tw-gradient-from-position);
    --tw-gradient-to: #32d37400 var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.via-black {
    --tw-gradient-to: #0000 var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), #000 var(--tw-gradient-via-position), var(--tw-gradient-to)
}

.via-transparent {
    --tw-gradient-to: #0000 var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), #0000 var(--tw-gradient-via-position), var(--tw-gradient-to)
}

.to-orange-600\/20 {
    --tw-gradient-to: #84f8b933 var(--tw-gradient-to-position)
}

.to-pink-600\/20 {
    --tw-gradient-to: #db277733 var(--tw-gradient-to-position)
}

.to-purple-600\/20 {
    --tw-gradient-to: #9333ea33 var(--tw-gradient-to-position)
}

.to-red-900\/20 {
    --tw-gradient-to: #12482e33 var(--tw-gradient-to-position)
}

.to-teal-600\/20 {
    --tw-gradient-to: #0d948833 var(--tw-gradient-to-position)
}

.to-transparent {
    --tw-gradient-to: #0000 var(--tw-gradient-to-position)
}

.bg-clip-text {
    -webkit-background-clip: text;
    background-clip: text
}

.object-contain {
    object-fit: contain
}

.object-cover {
    object-fit: cover
}

.p-2 {
    padding: .5rem
}

.p-3 {
    padding: .75rem
}

.p-4 {
    padding: 1rem
}

.p-6 {
    padding: 1.5rem
}

.p-8 {
    padding: 2rem
}

.p-\[5\%\] {
    padding: 5%
}

.p-px {
    padding: 1px
}

.px-2 {
    padding-left: .5rem;
    padding-right: .5rem
}

.px-3 {
    padding-left: .75rem;
    padding-right: .75rem
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}

.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.px-8 {
    padding-left: 2rem;
    padding-right: 2rem
}

.px-\[4\%\] {
    padding-left: 4%;
    padding-right: 4%
}

.px-\[5\%\] {
    padding-left: 5%;
    padding-right: 5%
}

.px-\[6\%\] {
    padding-left: 6%;
    padding-right: 6%
}

.py-1 {
    padding-bottom: .25rem;
    padding-top: .25rem
}

.py-12 {
    padding-bottom: 3rem;
    padding-top: 3rem
}

.py-16 {
    padding-bottom: 4rem;
    padding-top: 4rem
}

.py-2 {
    padding-bottom: .5rem;
    padding-top: .5rem
}

.py-2\.5 {
    padding-bottom: .625rem;
    padding-top: .625rem
}

.py-3 {
    padding-bottom: .75rem;
    padding-top: .75rem
}

.py-4 {
    padding-bottom: 1rem;
    padding-top: 1rem
}

.py-6 {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem
}

.py-8 {
    padding-bottom: 2rem;
    padding-top: 2rem
}

.py-\[100px\] {
    padding-bottom: 100px;
    padding-top: 100px
}

.py-\[5\%\] {
    padding-bottom: 5%;
    padding-top: 5%
}

.py-\[6\%\] {
    padding-bottom: 6%;
    padding-top: 6%
}

.pb-16 {
    padding-bottom: 4rem
}

.pb-24 {
    padding-bottom: 6rem
}

.pb-4 {
    padding-bottom: 1rem
}

.pb-8 {
    padding-bottom: 2rem
}

.pb-\[10\%\] {
    padding-bottom: 10%
}

.pl-4 {
    padding-left: 1rem
}

.pl-6 {
    padding-left: 1.5rem
}

.pr-4 {
    padding-right: 1rem
}

.pr-8 {
    padding-right: 2rem
}

.pt-4 {
    padding-top: 1rem
}

.pt-8 {
    padding-top: 2rem
}

.pt-\[200px\] {
    padding-top: 200px
}

.pt-\[3\%\] {
    padding-top: 3%
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.font-\[family-name\:var\(--font-belgro\)\] {
    font-family: var(--font-belgro)
}

.font-\[family-name\:var\(--font-sofia-sans\)\] {
    font-family: var(--font-sofia-sans)
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem
}

.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem
}

.text-5xl {
    font-size: 3rem;
    line-height: 1
}

.text-\[22px\] {
    font-size: 22px
}

.text-\[24px\] {
    font-size: 24px
}

.text-\[30px\] {
    font-size: 30px
}

.text-\[40px\] {
    font-size: 40px
}

.text-\[45px\] {
    font-size: 45px
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem
}

.text-xs {
    font-size: .75rem;
    line-height: 1rem
}

.font-black {
    font-weight: 900
}

.font-bold {
    font-weight: 700
}

.font-medium {
    font-weight: 500
}

.font-semibold {
    font-weight: 600
}

.uppercase {
    text-transform: uppercase
}

.leading-\[115\%\] {
    line-height: 115%
}

.leading-\[30px\] {
    line-height: 30px
}

.leading-\[35px\] {
    line-height: 35px
}

.leading-\[40px\] {
    line-height: 40px
}

.leading-\[50px\] {
    line-height: 50px
}

.leading-\[90\%\] {
    line-height: 90%
}

.leading-relaxed {
    line-height: 1.625
}

.leading-tight {
    line-height: 1.25
}

.tracking-wide {
    letter-spacing: .025em
}

.tracking-wider {
    letter-spacing: .05em
}

.text-\[\#F7F7F7\] {
    --tw-text-opacity: 1;
    color: rgb(247 247 247/var(--tw-text-opacity))
}

.text-\[\#32D374\] {
    --tw-text-opacity: 1;
    color: rgb(50 211 116/var(--tw-text-opacity))
}

.text-gray-300 {
    --tw-text-opacity: 1;
    color: rgb(209 213 219/var(--tw-text-opacity))
}

.text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175/var(--tw-text-opacity))
}

.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128/var(--tw-text-opacity))
}

.text-orange-500 {
    --tw-text-opacity: 1;
    color: rgb(94 231 160/var(--tw-text-opacity))
}

.text-transparent {
    color: #0000
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.text-white\/50 {
    color: #ffffff80
}

.text-white\/60 {
    color: #fff9
}

.text-white\/70 {
    color: #ffffffb3
}

.text-white\/80 {
    color: #fffc
}

.text-white\/90 {
    color: #ffffffe6
}

.underline {
    text-decoration-line: underline
}

.opacity-0 {
    opacity: 0
}

.opacity-100 {
    opacity: 1
}

.shadow-lg {
    --tw-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.blur-\[40px\] {
    --tw-blur: blur(40px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.backdrop-blur-md {
    --tw-backdrop-blur: blur(12px)
}

.backdrop-blur-md,
.backdrop-blur-sm {
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}

.backdrop-blur-sm {
    --tw-backdrop-blur: blur(4px)
}

.transition {
    transition-duration: .15s;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

.transition-all {
    transition-duration: .15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

.transition-colors {
    transition-duration: .15s;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

.transition-transform {
    transition-duration: .15s;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

.duration-200 {
    transition-duration: .2s
}

.duration-300 {
    transition-duration: .3s
}

.duration-500 {
    transition-duration: .5s
}

.duration-700 {
    transition-duration: .7s
}

.ease-in-out {
    transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

:root {
    --radial-gradient-background: 250, 250, 250;
    --solid-color-background: 15, 15, 15;
    --overlay-color: 255, 255, 255;
    --black-gradient: linear-gradient(144.39deg, #fff -278.56%, #6d6d6d -78.47%, #11101d 91.61%);
    --card-shadow: 0px 20px 100px -10px #42475b1a
}

body {
    background-color: #000;
    font-family: Montserrat, sans-serif
}

.image_wrapper {
    align-items: center;
    border-radius: 5px;
    display: flex;
    height: 180px;
    justify-content: center;
    margin: 0 10px;
    width: 100px
}

.image_wrapper img {
    height: 100%;
    object-fit: contain;
    width: 100%
}

.newFont {
    font-family: Inter
}

.mq {
    -webkit-mask-image: linear-gradient(90deg, #0000, #000 10%, #000 90%, #0000);
    mask-image: linear-gradient(90deg, #0000, #000 10%, #000 90%, #0000)
}

.radial-gradient {
    background: radial-gradient(circle at 50% 0, #fafafa0d 0, #0000 60%) #0f0f0f;
    background: radial-gradient(circle at 50% 0, rgba(var(--radial-gradient-background), .05) 0, #0000 60%) rgba(var(--solid-color-background), 1)
}

.linear-mask {
    mask-image: linear-gradient(-75deg, #fff calc(var(--x) + 20%), #0000 calc(var(--x) + 30%), #fff calc(var(--x) + 100%));
    -webkit-mask-image: linear-gradient(-75deg, #fff calc(var(--x) + 20%), #0000 calc(var(--x) + 30%), #fff calc(var(--x) + 100%))
}

.linear-overlay {
    background-image: linear-gradient(-75deg, #ffffff1a calc(var(--x) + 20%), #ffffff80 calc(var(--x) + 25%), #ffffff1a calc(var(--x) + 100%));
    background-image: linear-gradient(-75deg, rgba(var(--overlay-color), .1) calc(var(--x) + 20%), rgba(var(--overlay-color), .5) calc(var(--x) + 25%), rgba(var(--overlay-color), .1) calc(var(--x) + 100%));
    mask: linear-gradient(#000, #000) content-box, linear-gradient(#000, #000);
    -webkit-mask: linear-gradient(#000, #000) content-box, linear-gradient(#000, #000);
    mask-composite: exclude;
    -webkit-mask-composite: xor
}

.button-container a {
    box-shadow: 0 20px 50px #ffffff0d;
    color: #34ffea;
    font-size: 30px;
    font-weight: 700;
    left: 50%;
    letter-spacing: 2px;
    overflow: hidden;
    padding: 30px 70px;
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
    top: 50%;
    transform: translate(-50%, -50%)
}

.button-container a:before {
    background: #8efff01a;
    bottom: 2px;
    content: "";
    left: 2px;
    position: absolute;
    top: 2px;
    width: 50%
}

.button-container a span:first-child {
    animation: animate1 2s linear infinite;
    background: linear-gradient(90deg, #002b9d, #34ffea);
    height: 5px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

@keyframes animate1 {
    0% {
        transform: translateX(-100%)
    }

    to {
        transform: translateX(100%)
    }
}

.button-container a span:nth-child(2) {
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
    background: linear-gradient(180deg, #002b9d, #34ffea);
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 5px
}

@keyframes animate2 {
    0% {
        transform: translateY(-100%)
    }

    to {
        transform: translateY(100%)
    }
}

.button-container a span:nth-child(3) {
    animation: animate3 2s linear infinite;
    background: linear-gradient(270deg, #002b9d, #34ffea);
    bottom: 0;
    height: 5px;
    left: 0;
    position: absolute;
    width: 100%
}

@keyframes animate3 {
    0% {
        transform: translateX(100%)
    }

    to {
        transform: translateX(-100%)
    }
}

.button-container a span:nth-child(4) {
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
    background: linear-gradient(0deg, #002b9d, #34ffea);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 5px
}

@keyframes animate4 {
    0% {
        transform: translateY(100%)
    }

    to {
        transform: translateY(-100%)
    }
}

.colordBox {
    background: linear-gradient(180deg, #2a2a2c85, #323134);
    border-radius: 50px;
    box-shadow: inset 0 0 17px #323134
}

.gradient-01 {
    background: linear-gradient(270deg, #32D374, #32D374 26%, #d0f4d2 39%, #32D374 50%, #a1fcb0 61%, #a1fcb0 74%, #a1fcb0);
    filter: blur(125px)
}

::-webkit-scrollbar {
    width: 4px
}

::-webkit-scrollbar-thumb {
    background: #32D374;
    border-radius: 6px
}

.bg-black-gradient {
    background: linear-gradient(144.39deg, #fff -278.56%, #6d6d6d -78.47%, #11101d 91.61%)
}

.sidebar {
    animation: slide-top .5s cubic-bezier(.25, .46, .45, .94) both
}

.team-bg {
    background: linear-gradient(0deg, #0003, #0003), linear-gradient(180deg, #12482e, #18714b 133.62%);
    border-radius: 16px;
}

.custom-green {
  color: #32D374 !important;
}
.custom-green-bg {
  background-color: #32D37410 !important; /* 10 = 6% opacity */
}
.custom-green-border {
  border-color: #32D374 !important;
}



@keyframes slide-top {
    0% {
        transform: translateY(100px)
    }

    to {
        transform: translateY(0)
    }
}

.hover\:scale-105:hover {
    --tw-scale-x: 1.05;
    --tw-scale-y: 1.05
}

.hover\:scale-105:hover,
.hover\:scale-110:hover {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.hover\:scale-110:hover {
    --tw-scale-x: 1.1;
    --tw-scale-y: 1.1
}

.hover\:border:hover {
    border-width: 1px
}

.hover\:border-\[2px\]:hover {
    border-width: 2px
}

.hover\:border-\[\#3a3a3a\]:hover {
    --tw-border-opacity: 1;
    border-color: rgb(58 58 58/var(--tw-border-opacity))
}

.hover\:border-\[\#32D374\]:hover {
    --tw-border-opacity: 1;
    border-color: rgb(50 211 116/var(--tw-border-opacity))
}

.hover\:border-orange-500\/20:hover {
    border-color: #5ee7a033
}

.hover\:border-orange-500\/30:hover {
    border-color: #5ee7a04d
}

.hover\:bg-\[\#32D374\]:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(50 211 116/var(--tw-bg-opacity))
}

.hover\:bg-black\/70:hover {
    background-color: #000000b3
}

.hover\:bg-gray-400:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(156 163 175/var(--tw-bg-opacity))
}

.hover\:bg-orange-500\/10:hover {
    background-color: #5ee7a01a
}

.hover\:bg-orange-500\/5:hover {
    background-color: #5ee7a00d
}

.hover\:bg-white\/10:hover {
    background-color: #ffffff1a
}

.hover\:bg-white\/5:hover {
    background-color: #ffffff0d
}

.hover\:text-\[\#000000\]:hover {
    --tw-text-opacity: 1;
    color: rgb(0 0 0/var(--tw-text-opacity))
}

.hover\:text-gray-300:hover {
    --tw-text-opacity: 1;
    color: rgb(209 213 219/var(--tw-text-opacity))
}

.hover\:text-orange-400:hover {
    --tw-text-opacity: 1;
    color: rgb(251 146 60/var(--tw-text-opacity))
}

.hover\:text-white:hover {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.group:hover .group-hover\:w-full {
    width: 100%
}

.group:hover .group-hover\:translate-y-0 {
    --tw-translate-y: 0px
}

.group:hover .group-hover\:translate-y-0,
.group:hover .group-hover\:translate-y-\[-400px\] {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.group:hover .group-hover\:translate-y-\[-400px\] {
    --tw-translate-y: -400px
}

.group:hover .group-hover\:rotate-180 {
    --tw-rotate: 180deg
}

.group:hover .group-hover\:rotate-180,
.group:hover .group-hover\:scale-105 {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.group:hover .group-hover\:scale-105 {
    --tw-scale-x: 1.05;
    --tw-scale-y: 1.05
}

.group:hover .group-hover\:scale-110 {
    --tw-scale-x: 1.1;
    --tw-scale-y: 1.1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.group:hover .group-hover\:text-orange-500 {
    --tw-text-opacity: 1;
    color: rgb(94 231 160/var(--tw-text-opacity))
}

.group:hover .group-hover\:text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

@media (min-width:640px) {
    .sm\:top-\[4\%\] {
        top: 4%
    }

    .sm\:my-0 {
        margin-bottom: 0;
        margin-top: 0
    }

    .sm\:my-\[10\%\] {
        margin-bottom: 10%;
        margin-top: 10%
    }

    .sm\:mb-0 {
        margin-bottom: 0
    }

    .sm\:mb-4 {
        margin-bottom: 1rem
    }

    .sm\:mb-5 {
        margin-bottom: 1.25rem
    }

    .sm\:mb-\[40px\] {
        margin-bottom: 40px
    }

    .sm\:mt-0 {
        margin-top: 0
    }

    .sm\:mt-\[-10px\] {
        margin-top: -10px
    }

    .sm\:mt-\[1\%\] {
        margin-top: 1%
    }

    .sm\:mt-\[50\%\] {
        margin-top: 50%
    }

    .sm\:mt-\[7\%\] {
        margin-top: 7%
    }

    .sm\:inline {
        display: inline
    }

    .sm\:flex {
        display: flex
    }

    .sm\:hidden {
        display: none
    }

    .sm\:h-\[250px\] {
        height: 250px
    }

    .sm\:h-\[470px\] {
        height: 470px
    }

    .sm\:h-\[600px\] {
        height: 600px
    }

    .sm\:w-\[300px\] {
        width: 300px
    }

    .sm\:w-\[40px\] {
        width: 40px
    }

    .sm\:w-\[500px\] {
        width: 500px
    }

    .sm\:w-\[600px\] {
        width: 600px
    }

    .sm\:w-\[700px\] {
        width: 700px
    }

    .sm\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }

    .sm\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr))
    }

    .sm\:grid-cols-5 {
        grid-template-columns: repeat(5, minmax(0, 1fr))
    }

    .sm\:flex-row {
        flex-direction: row
    }

    .sm\:items-end {
        align-items: flex-end
    }

    .sm\:gap-4 {
        gap: 1rem
    }

    .sm\:gap-7 {
        gap: 1.75rem
    }

    .sm\:p-6 {
        padding: 1.5rem
    }

    .sm\:p-\[50px\] {
        padding: 50px
    }

    .sm\:px-\[10\%\] {
        padding-left: 10%;
        padding-right: 10%
    }

    .sm\:px-\[20\%\] {
        padding-left: 20%;
        padding-right: 20%
    }

    .sm\:py-\[4\%\] {
        padding-bottom: 4%;
        padding-top: 4%
    }

    .sm\:text-right {
        text-align: right
    }

    .sm\:text-4xl {
        font-size: 2.25rem;
        line-height: 2.5rem
    }

    .sm\:text-\[20px\] {
        font-size: 20px
    }

    .sm\:text-\[32px\] {
        font-size: 32px
    }

    .sm\:text-\[40px\] {
        font-size: 40px
    }

    .sm\:text-\[50px\] {
        font-size: 50px
    }

    .sm\:text-\[70px\] {
        font-size: 70px
    }

    .sm\:text-base {
        font-size: 1rem;
        line-height: 1.5rem
    }

    .sm\:text-lg {
        font-size: 1.125rem;
        line-height: 1.75rem
    }

    .sm\:leading-\[40px\] {
        line-height: 40px
    }

    .sm\:leading-\[50px\] {
        line-height: 50px
    }

    .sm\:text-white\/60 {
        color: #fff9
    }
}

@media (min-width:768px) {
    .md\:absolute {
        position: absolute
    }

    .md\:right-4 {
        right: 1rem
    }

    .md\:top-4 {
        top: 1rem
    }

    .md\:mx-auto {
        margin-left: auto;
        margin-right: auto
    }

    .md\:mb-\[100px\] {
        margin-bottom: 100px
    }

    .md\:ml-\[calc\(50\%-375px\)\] {
        margin-left: calc(50% - 375px)
    }

    .md\:mt-0 {
        margin-top: 0
    }

    .md\:mt-5 {
        margin-top: 1.25rem
    }

    .md\:block {
        display: block
    }

    .md\:flex {
        display: flex
    }

    .md\:hidden {
        display: none
    }

    .md\:h-\[370px\] {
        height: 370px
    }

    .md\:w-\[45\%\] {
        width: 45%
    }

    .md\:w-\[750px\] {
        width: 750px
    }

    .md\:w-\[800px\] {
        width: 800px
    }

    .md\:max-w-\[1440px\] {
        max-width: 1440px
    }

    .md\:scale-110 {
        --tw-scale-x: 1.1;
        --tw-scale-y: 1.1
    }

    .md\:scale-110,
    .md\:scale-90 {
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }

    .md\:scale-90 {
        --tw-scale-x: .9;
        --tw-scale-y: .9
    }

    .md\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }

    .md\:rounded-none {
        border-radius: 0
    }

    .md\:bg-transparent {
        background-color: initial
    }

    .md\:object-contain {
        object-fit: contain
    }

    .md\:py-6 {
        padding-bottom: 1.5rem;
        padding-top: 1.5rem
    }

    .md\:text-4xl {
        font-size: 2.25rem;
        line-height: 2.5rem
    }

    .md\:text-5xl {
        font-size: 3rem;
        line-height: 1
    }

    .md\:text-\[30px\] {
        font-size: 30px
    }

    .md\:blur-sm {
        --tw-blur: blur(4px);
        filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
    }
}

@media (min-width:1024px) {
    .lg\:top-0 {
        top: 0
    }

    .lg\:block {
        display: block
    }

    .lg\:aspect-\[4\/3\] {
        aspect-ratio: 4/3
    }

    .lg\:size-20 {
        height: 5rem;
        width: 5rem
    }

    .lg\:w-1\/2 {
        width: 50%
    }

    .lg\:flex-row {
        flex-direction: row
    }

    .lg\:bg-gradient-to-r {
        background-image: linear-gradient(to right, var(--tw-gradient-stops))
    }

    .lg\:from-transparent {
        --tw-gradient-from: #0000 var(--tw-gradient-from-position);
        --tw-gradient-to: #0000 var(--tw-gradient-to-position);
        --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
    }

    .lg\:to-black\/20 {
        --tw-gradient-to: #0003 var(--tw-gradient-to-position)
    }

    .lg\:p-12 {
        padding: 3rem
    }

    .lg\:px-0 {
        padding-left: 0;
        padding-right: 0
    }

    .lg\:px-12 {
        padding-left: 3rem;
        padding-right: 3rem
    }

    .lg\:text-4xl {
        font-size: 2.25rem;
        line-height: 2.5rem
    }

    .lg\:text-6xl {
        font-size: 3.75rem;
        line-height: 1
    }

    .lg\:text-\[82px\] {
        font-size: 82px
    }
}

@media (min-width:1280px) {
    .xl\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr))
    }

    .xl\:text-5xl {
        font-size: 3rem;
        line-height: 1
    }
}

.\[\&\>blockquote\]\:my-6>blockquote {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem
}

.\[\&\>blockquote\]\:border-l-4>blockquote {
    border-left-width: 4px
}

.\[\&\>blockquote\]\:border-orange-500>blockquote {
    --tw-border-opacity: 1;
    border-color: rgb(94 231 160/var(--tw-border-opacity))
}

.\[\&\>blockquote\]\:pl-4>blockquote {
    padding-left: 1rem
}

.\[\&\>blockquote\]\:italic>blockquote {
    font-style: italic
}

.\[\&\>blockquote\]\:text-white\/70>blockquote {
    color: #ffffffb3
}

.\[\&\>code\]\:rounded>code {
    border-radius: .25rem
}

.\[\&\>code\]\:bg-white\/10>code {
    background-color: #ffffff1a
}

.\[\&\>code\]\:px-2>code {
    padding-left: .5rem;
    padding-right: .5rem
}

.\[\&\>code\]\:py-1>code {
    padding-bottom: .25rem;
    padding-top: .25rem
}

.\[\&\>code\]\:text-sm>code {
    font-size: .875rem;
    line-height: 1.25rem
}

.\[\&\>code\]\:text-orange-500>code {
    --tw-text-opacity: 1;
    color: rgb(94 231 160/var(--tw-text-opacity))
}

.\[\&\>em\]\:italic>em {
    font-style: italic
}

.\[\&\>em\]\:text-white\/80>em {
    color: #fffc
}

.\[\&\>h1\]\:mb-6>h1 {
    margin-bottom: 1.5rem
}

.\[\&\>h1\]\:mt-10>h1 {
    margin-top: 2.5rem
}

.\[\&\>h1\]\:text-3xl>h1 {
    font-size: 1.875rem;
    line-height: 2.25rem
}

.\[\&\>h1\]\:font-medium>h1 {
    font-weight: 500
}

.\[\&\>h1\]\:text-white>h1 {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

@media (min-width:768px) {
    .\[\&\>h1\]\:md\:text-4xl>h1 {
        font-size: 2.25rem;
        line-height: 2.5rem
    }
}

.\[\&\>h2\]\:mb-4>h2 {
    margin-bottom: 1rem
}

.\[\&\>h2\]\:mt-8>h2 {
    margin-top: 2rem
}

.\[\&\>h2\]\:text-2xl>h2 {
    font-size: 1.5rem;
    line-height: 2rem
}

.\[\&\>h2\]\:font-medium>h2 {
    font-weight: 500
}

.\[\&\>h2\]\:text-orange-500>h2 {
    --tw-text-opacity: 1;
    color: rgb(94 231 160/var(--tw-text-opacity))
}

@media (min-width:768px) {
    .\[\&\>h2\]\:md\:text-3xl>h2 {
        font-size: 1.875rem;
        line-height: 2.25rem
    }
}

.\[\&\>h3\]\:mb-3>h3 {
    margin-bottom: .75rem
}

.\[\&\>h3\]\:mt-6>h3 {
    margin-top: 1.5rem
}

.\[\&\>h3\]\:text-xl>h3 {
    font-size: 1.25rem;
    line-height: 1.75rem
}

.\[\&\>h3\]\:font-medium>h3 {
    font-weight: 500
}

.\[\&\>h3\]\:text-white>h3 {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

@media (min-width:768px) {
    .\[\&\>h3\]\:md\:text-2xl>h3 {
        font-size: 1.5rem;
        line-height: 2rem
    }
}

.\[\&\>li\]\:mb-1>li {
    margin-bottom: .25rem
}

.\[\&\>li\]\:text-white\/80>li {
    color: #fffc
}

.\[\&\>ol\]\:mb-4>ol {
    margin-bottom: 1rem
}

.\[\&\>ol\]\:ml-6>ol {
    margin-left: 1.5rem
}

.\[\&\>ol\]\:list-outside>ol {
    list-style-position: outside
}

.\[\&\>ol\]\:list-decimal>ol {
    list-style-type: decimal
}

.\[\&\>ol\]\:space-y-2>ol>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-bottom: calc(.5rem*var(--tw-space-y-reverse));
    margin-top: calc(.5rem*(1 - var(--tw-space-y-reverse)))
}

.\[\&\>p\]\:mb-4>p {
    margin-bottom: 1rem
}

.\[\&\>p\]\:leading-relaxed>p {
    line-height: 1.625
}

.\[\&\>p\]\:text-white\/90>p {
    color: #ffffffe6
}

.\[\&\>pre\]\:mb-6>pre {
    margin-bottom: 1.5rem
}

.\[\&\>pre\]\:overflow-x-auto>pre {
    overflow-x: auto
}

.\[\&\>pre\]\:rounded-lg>pre {
    border-radius: .5rem
}

.\[\&\>pre\]\:bg-white\/10>pre {
    background-color: #ffffff1a
}

.\[\&\>pre\]\:p-4>pre {
    padding: 1rem
}

.\[\&\>strong\]\:font-semibold>strong {
    font-weight: 600
}

.\[\&\>strong\]\:text-white>strong {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.\[\&\>ul\]\:mb-4>ul {
    margin-bottom: 1rem
}

.\[\&\>ul\]\:ml-6>ul {
    margin-left: 1.5rem
}

.\[\&\>ul\]\:list-outside>ul {
    list-style-position: outside
}

.\[\&\>ul\]\:list-disc>ul {
    list-style-type: disc
}

.\[\&\>ul\]\:space-y-2>ul>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-bottom: calc(.5rem*var(--tw-space-y-reverse));
    margin-top: calc(.5rem*(1 - var(--tw-space-y-reverse)))
}


